* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  height: 100vh !important;
  padding: 1rem;
  display: flex;
  font-size: 24px;
  font-family: monospace;
}

#seachat {
  width: 100%;
  height: 100%;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}
#seachat header,
#seachat footer {
  display: flex;
  padding: 1rem;
}
#seachat header input,
#seachat header button,
#seachat footer input,
#seachat footer button {
  border: 1px solid black;
  padding: 1rem;
  font-size: 24px;
}
#seachat header input,
#seachat footer input {
  flex: 1 1 auto;
}
#seachat header button,
#seachat footer button {
  padding: 0 2rem;
  cursor: pointer;
  border-left: none;
}
#seachat header button:hover,
#seachat footer button:hover {
  color: white;
  background-color: black;
}
#seachat #body {
  display: flex !important;
  flex: 1 0 auto !important;
  height: 0px !important;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
#seachat #body > div {
  overflow-x: hidden;
  overflow-y: auto;
}
#seachat #body #users {
  flex: 1 1;
  border-right: 1px solid black;
}
#seachat #body #users .user {
  margin: 8px;
}
#seachat #body #users .me::after {
  content: " (me)";
  color: #ccc;
}
#seachat #body #users .anonymous {
  color: #ccc;
  font-size: 16px;
}
#seachat #body #messages {
  flex: 3 3;
}
#seachat #body #messages .message {
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px dashed #ccc;
}
#seachat #body #messages .message .meta {
  font-size: 16px;
  color: #ccc;
  margin-bottom: 0.5rem;
}
#seachat #body #messages .message .meta .name {
  color: #337;
}
#seachat #body #messages .message .meta .time {
  color: #777;
}