* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    height: 100vh !important;
    padding: 1rem;
    display: flex;
    font-size: 24px;
    font-family: monospace;
}

#seachat {
    width: 100%;
    height: 100%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;

    header,
    footer {
        display: flex;
        padding: 1rem;

        input,
        button {
            border: 1px solid black;
            padding: 1rem;
            font-size: 24px;
        }

        input {
            flex: 1 1 auto;
        }

        button {
            padding: 0 2rem;
            cursor: pointer;
            border-left: none;
        }

        button:hover {
            color: white;
            background-color: black;
        }
    }

    #body {
        display: flex !important;
        flex: 1 0 auto !important; // 占满除header和footer以外的剩余高度
        height: 0px !important; // 重要!
        border-top: 1px solid black;
        border-bottom: 1px solid black;

        >div {
            overflow-x: hidden;
            overflow-y: auto;
        }

        #users {
            flex: 1 1;
            border-right: 1px solid black;

            .user {
                margin: 8px;
            }

            .me::after {
                content: " (me)";
                color: #ccc;
            }

            .anonymous {
                color: #ccc;
                font-size: 16px;
            }
        }

        #messages {
            flex: 3 3;

            .message {
                margin: 0.5rem;
                padding: 0.5rem;
                border-radius: 4px;
                border: 1px dashed #ccc;

                .meta {
                    font-size: 16px;
                    color: #ccc;
                    margin-bottom: 0.5rem;

                    .name {
                        color: #337;
                    }

                    .time {
                        color: #777;
                    }
                }
            }
        }
    }
}
